.User
  .User-field
    .User-field__menu
      Edit profile
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "User-form" }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = icon( 'fas', 'envelope' )
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = icon( 'fas', 'key' )
        - f.label :password
        %span
          New
        %em (leave blank for no changing it)
        %br/
        = f.password_field :password, autocomplete: "new-password", class: "form"
        - if @minimum_password_length
          %br/
          %span.em
            = @minimum_password_length
            characters minimum
      .field
        = icon( 'fas', 'key' )
        - f.label :password_confirmation
        %span
          Confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "form"
      .field.field--current
        = icon( 'fas', 'key' )
        - f.label :current_password
        %span
          Current
        %em (to confirm your changes)
        %br/
        = f.password_field :current_password, autocomplete: "current-password", class: "form"
      .actions
        = f.submit "Update", class: "btn"
    = link_to "Back", :back, class: "end-link"
    %p.User-form--unhappy
      Unhappy? #{button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "User-form--unhappy2"}
