.User
  .User-field
    .User-field__menu
      Forgot your password?
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "User-form" }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = icon( 'fas', 'envelope' )
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form"
      .actions
        = f.submit "Send", class: "btn"
        %br/
        Send a reset password instructions
    .end-link
      = render "devise/shared/links"
